
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: solid 4px rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.pokemonPhoto {
    display: flex;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    
}

.top {
    width: 90%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    background-size: cover;
    margin: 15px auto;
    
    
}

.bottom { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 5px;
    margin: 0 auto 15px;
}

.bottom span {
    display: flex;
    align-self: center;
    
    color: black;
    padding: 5px;
    font-family: Helvetica;
    font-size: 15px;
}

.pokemonName {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: large;
}

.mobile {
    margin: 25px auto;
}