.poke {
    display: flex;      
    width: 70%;
    height: 95%;
    margin-left: 30px;
    
    
}



.name {
    display: flex;
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    color: black;
    justify-content: center;
    align-items: center;
}


.number {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    
}