.searchbar {
  min-width: 761px;
  display: flex;
  justify-content: center;
  background: rgba(151, 109, 116, 0.15);
  width: 100%;
  height: 60px;
}
img {
  margin-left: 5px;
  margin-top: 5px;
  width: 220px;
  height: 50px;
}

input {
  border-radius: 5px;
  height: 20px;
  margin-left: 80px;
  align-self: center;
}

::-webkit-input-placeholder {
  color: rgb(216, 216, 216);
}



label {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
}

.options {
  margin-left: 50px;
  align-self: center;

}

.select  {
    
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
}


.searchBarMobile { 

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;

  
}


.inputMobile {
  margin: 15px auto 15px;
  
}

.optionsMobile {
  margin: 10px auto;
}
