body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background: rgb(49, 57, 83);
    /* background:
    -webkit-linear-gradient(65deg, hsla(47.52, 100%, 50.98%, 1) 10%, hsla(47.52, 100%, 50.98%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(204.59, 95.87%, 42.9%, 1) 15%, hsla(204.59, 95.87%, 42.9%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(155.8, 94.18%, 47.15%, 1) 100%, hsla(155.8, 94.18%, 47.15%, 0) 70%);
  background:
    linear-gradient(25deg, hsla(47.52, 100%, 50.98%, 1) 10%, hsla(47.52, 100%, 50.98%, 0) 80%),
    linear-gradient(315deg, hsla(204.59, 95.87%, 42.9%, 1) 15%, hsla(204.59, 95.87%, 42.9%, 0) 80%),
    linear-gradient(245deg, hsla(155.8, 94.18%, 47.15%, 1) 100%, hsla(155.8, 94.18%, 47.15%, 0) 70%);
    background-size:  120% ; */
}

